[submodule "sherlockpipe/tpfplotter"]
	path = sherlockpipe/tpfplotter
	url = https://github.com/jlillo/tpfplotter
[submodule "sherlockpipe/LATTEsub"]
	path = sherlockpipe/LATTEsub
	url = https://github.com/martindevora/LATTE

[submodule "sherlockpipe/eleanorSub"]
	path = sherlockpipe/eleanorSub
	url = https://github.com/martindevora/eleanor
