include tox.ini sherlockpipe/properties.yaml sherlockpipe/maxsector.py
graft sherlockpipe/resources
graft sherlockpipe/ellc
prune sherlockpipe/ellc/doc
prune sherlockpipe/ellc/examples
prune sherlockpipe/ellc/.git
prune sherlockpipe/ellc/.gitignore
