absl-py==2.0.0
absl-py==2.0.0
aiobotocore==2.5.0
aiofiles==22.1.0
aiohttp==3.8.5
aioitertools==0.7.1
aiosignal==1.2.0
aiosqlite==0.18.0
alabaster==0.7.12
alexfitter==1.2.12
anaconda-anon-usage==0.4.2
anaconda-catalogs==0.2.0
anaconda-client==1.12.1
anaconda-cloud-auth==0.1.3
anaconda-navigator==2.5.0
anaconda-project==0.11.1
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
arviz==0.12.1
asciitree==0.3.3
astroid==2.14.2
astroplan==0.8
astropy==5.1
astropy==5.3.4
astropy-healpix==1.0.2
astroquery==0.4.6
asttokens==2.0.5
astunparse==1.6.3
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==22.1.0
autograd==1.6.2
autograd==1.6.2
Automat==20.2.0
autopep8==1.6.0
Babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
batman-package==2.4.9
batman-package==2.4.9
bcrypt==3.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
black==0.0
bleach==4.1.0
blosc2==2.0.0
bokeh==3.2.1
bokeh==2.4.2
boltons==23.0.0
botocore==1.29.76
Bottleneck==1.3.5
brotlipy==0.7.0
build==1.0.3
cachetools==5.3.2
celerite==0.4.0
certifi==2023.7.22
cffi==1.15.1
cftime==1.6.3
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.2.1
clyent==1.2.2
cmake==3.27.9
cmake==3.27.9
colorama==0.4.6
colorcet==3.0.1
comm==0.1.2
conda==23.7.4
conda-build==3.26.1
conda-content-trust==0.2.0
conda_index==0.3.0
conda-libmamba-solver==23.7.0
conda-pack==0.6.0
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
conda-repo-cli==1.0.75
conda-token==0.4.0
conda-verify==3.4.2
configparser==5.0.1
configparser==5.0.1
constantly==15.1.0
contourpy==1.0.5
cookiecutter==1.7.3
corner==2.2.2
cryptography==41.0.3
cssselect==1.1.0
cycler==0.11.0
Cython==3.0.6
cytoolz==0.12.0
daal4py==2023.1.1
dask==2023.6.0
datasets==2.12.0
datashader==0.15.2
datashape==0.5.4
dearwatson==0.8.3
dearwatson==0.8.1
dearwatson==0.8.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diff-match-patch==20200713
dill==0.3.6
distlib==0.3.7
distributed==2023.6.0
docstring-to-markdown==0.11
docutils==0.18.1
dynesty==1.0.1
ellc==1.8.8
ellc==1.8.8
emcee==3.0.2
entrypoints==0.4
et-xmlfile==1.1.0
everest-pipeline==2.0.12
everest-pipeline==2.0.12
executing==0.8.3
exoml==0.0.15
exoml==0.0.15
extension-helpers==1.1.1
extension-helpers==0.1
fasteners==0.19
fastjsonschema==2.16.2
fbpca==1.0
fbpca==1.0
fbpca==1.0
filelock==3.13.1
flake8==6.0.0
Flask==2.2.2
flatbuffers==23.5.26
flatbuffers==23.5.26
foldedleastsquares==1.0.42
foldedleastsquares==1.0.42
fonttools==4.25.0
fonttools==4.46.0
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gast==0.4.0
gast==0.4.0
gensim==4.3.0
george==0.4.1
george==0.4.1
glob2==0.7
gmpy2==2.1.2
google-auth==2.25.2
google-auth==2.25.2
google-auth-oauthlib==1.0.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-pasta==0.2.0
graphviz==0.20.1
graphviz==0.20.1
greenlet==2.0.1
grpcio==1.60.0
grpcio==1.60.0
h5py==3.10.0
HeapDict==1.0.1
holoviews==1.17.1
html5lib==1.1
html5lib==1.1
huggingface-hub==0.15.1
hvplot==0.8.4
hyperlink==21.0.0
idna==2.10
imagecodecs==2023.1.23
imageio==2.31.1
imageio==2.9.0
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==6.0.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.8
intervaltree==3.1.0
ipykernel==6.25.0
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.0.1
jaraco.classes==3.2.1
jax==0.4.21
jax==0.4.21
jedi==0.18.1
jeepney==0.7.1
jellyfish==1.0.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.2.0
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.17.3
jupyter==1.0.0
jupyter_client==7.4.9
jupyter-console==6.6.3
jupyter_core==5.3.0
jupyter-events==0.6.3
jupyter-server==1.23.4
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyter-ydoc==0.2.4
jupyterlab==3.6.3
jupyterlab-pygments==0.1.2
jupyterlab_server==2.22.0
jupyterlab-widgets==3.0.5
k2plr==0.2.9
k2plr==0.2.9
kaleido==0.2.1
keras==2.12.0
keras==2.12.0
keyring==23.13.1
kiwisolver==1.4.4
lazy_loader==0.2
lazy-object-proxy==1.6.0
lcbuilder==0.14.2
lcbuilder==0.14.2
libarchive-c==2.9
libclang==16.0.6
libclang==16.0.6
libmambapy==1.5.1
lightkurve==2.4.2
linkify-it-py==2.0.0
lit==17.0.6
lit==17.0.6
llvmlite==0.40.0
lmdb==1.4.1
locket==1.0.0
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.7.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.0
mdurl==0.1.0
MechanicalSoup==1.3.0
memoization==0.4.0
memoization==0.4.0
memoization==0.4.0
mistune==0.8.4
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
ml-dtypes==0.3.1
ml-dtypes==0.3.1
mock==4.0.3
more-itertools==8.12.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.2
multipledispatch==0.6.0
multiprocess==0.70.14
munkres==1.1.4
mypy-extensions==1.0.0
navigator-updater==0.4.0
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.9.2
nest-asyncio==1.5.6
netCDF4==1.6.5
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.2
numba==0.57.1
numcodecs==0.12.1
numexpr==2.8.4
numpy==1.23.5
numpydoc==1.5.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
oauthlib==3.2.2
oktopus==0.1.2
oktopus==0.1.2
oktopus==0.1.2
openpyxl==3.0.10
opt-einsum==3.3.0
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
pandas==1.5.3
pandocfilters==1.5.0
panel==1.2.3
param==1.13.0
parsel==1.6.0
parso==0.8.3
partd==1.4.0
pathlib==1.0.1
pathspec==0.10.3
patsy==0.5.3
pdf2image==1.16.2
pep8==1.7.1
pexpect==4.8.0
photutils==1.10.0
photutils==1.10.0
pickleshare==0.7.5
Pillow==9.4.0
Pillow==9.5.0
pip==23.3.1
pkce==1.0.3
pkginfo==1.9.6
platformdirs==3.10.0
plotly==5.9.0
pluggy==1.3.0
ply==3.11
poyo==0.5.0
prometheus-client==0.14.1
prompt-toolkit==3.0.36
Protego==0.1.16
protobuf==4.25.1
protobuf==4.25.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyasn1-modules==0.3.0
pybind11==2.11.1
pycodestyle==2.10.0
pycosat==0.6.4
pycparser==2.21
pyct==0.5.0
pycurl==7.45.2
pydantic==1.10.8
PyDispatcher==2.0.5
pydocstyle==6.3.0
pydot==1.4.2
pydot==1.4.2
pyerfa==2.0.0
pyflakes==3.0.1
Pygments==2.15.1
PyJWT==2.4.0
pylint==2.16.2
pylint-venv==2.3.0
pyls-spyder==0.4.0
pyodbc==4.0.34
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyparsing==2.4.7
PyPDF2==3.0.1
PyPDF2==3.0.1
pyproject-api==1.6.1
pyproject_hooks==1.0.0
PyQt5-sip==12.11.0
pyrr==0.10.3
pyrsistent==0.18.0
PySocks==1.7.1
pysyzygy==0.0.2
pysyzygy==0.0.2
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-json-logger==2.0.7
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-slugify==5.0.2
python-snappy==0.6.1
pytoolconfig==1.2.5
PyTransit==2.5.21
pytz==2023.3.post1
pyviz-comms==2.3.0
pyvo==1.4.2
pyvo==1.4.2
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
PyYAML==6.0.1
pyzmq==23.2.0
QDarkStyle==3.0.2
qstylizer==0.2.2
QtAwesome==1.2.2
qtconsole==5.4.2
QtPy==2.2.0
queuelib==1.5.0
rebound==3.17.3
regex==2022.7.9
reportlab==4.0.7
reportlab==4.0.7
reproject==0.13.0
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.13.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rope==1.7.0
rsa==4.9
rsa==4.9
Rtree==1.0.1
ruamel.yaml==0.17.21
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.8
ruamel.yaml.clib==0.2.8
ruamel-yaml-conda==0.17.21
s3fs==2023.4.0
safetensors==0.3.2
scikit-image==0.20.0
scikit-learn==1.3.0
scikit-learn==1.2.2
scikit-learn-intelex==20230426.111612
scipy==1.11.1
scipy==1.11.4
Scrapy==2.8.0
seaborn==0.11.1
SecretStorage==3.3.1
semantic-version==2.10.0
Send2Trash==1.8.0
service-identity==18.1.0
setuptools==69.0.2
sherlockpipe==0.41.1
sip==6.6.2
six==1.16.0
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.4.3
spyder-kernels==2.4.4
SQLAlchemy==1.4.39
stack-data==0.2.0
statsmodels==0.14.0
statsmodels==0.13.5
sympy==1.11.1
tables==3.8.0
tabulate==0.8.10
TBB==0.2
tblib==1.7.0
tenacity==8.2.2
tensorboard==2.12.3
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow==2.12.0
tensorflow-addons==0.21.0
tensorflow-addons==0.21.0
tensorflow-estimator==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
termcolor==2.4.0
terminado==0.17.1
tess-point==0.6.1
tess-point==0.6.1
tess-point==0.6.1
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2023.4.12
timezonefinder==5.2.0
tinycss2==1.2.1
tldextract==3.2.0
tokenizers==0.13.2
toml==0.10.2
tomlkit==0.11.1
toolz==0.12.0
torch==2.0.0
torch==2.0.0
tornado==6.3.2
tox==4.11.4
tqdm==4.56.0
traitlets==5.7.1
transformers==4.32.1
triceratops==1.0.17
triton==2.0.0
triton==2.0.0
Twisted==22.10.0
typeguard==2.13.3
typeguard==2.13.3
typing_extensions==4.7.1
typing_extensions==4.3.0
tzdata==2023.3
uc-micro-py==1.0.1
ujson==5.4.0
uncertainties==2.4.4
Unidecode==1.2.0
urllib3==1.26.16
urllib3==1.26.13
virtualenv==20.25.0
w3lib==1.21.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==2.2.3
whatthepatch==1.0.2
wheel==0.38.4
widgetsnbextension==4.0.5
wotan==1.9
wotan==1.9
wrapt==1.14.1
wurlitzer==3.0.2
xarray==2023.6.0
xarray-einstats==0.6.0
xxhash==2.0.2
xyzservices==2022.9.0
y-py==0.5.9
yapf==0.31.0
yarl==1.8.1
ypy-websocket==0.8.2
zarr==2.16.1
zict==2.2.0
zipp==3.11.0
zope.interface==5.4.0
zstandard==0.19.0
